.flex {
  display: flex;
}

.center {
  text-align: center;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hightlight {
  color: #e8382b;
}
